body{
    background-image: url('../Img/Background-img.png');
    background-repeat: no-repeat;
      background-size: 100% 100%;
      background-attachment: fixed;
      background-position: center;
    color: #00FFEE;
    font-family: 'Arial', sans-serif;
}

.SLogo {
    width: 60%;
    height: auto;
}

.jediText {
    font-size: 2rem;
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #79ffff;
}