body {
    background-image: url('../Img/Background-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #00FFEE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
}

.text-box {
    width: 250px;
    padding: 15px;
    background-color: #79ffff;
    text-align: center;
    border-radius: 5px;
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    color: black;
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px; /* Ajuste para pegar el botón a la imagen */
}

.text-box:hover {
    background-color: #ffffff;
    color: #00FFEE;
}
