body{
  background-image: url('../Img/Background-img.png');
  background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
  color: #00FFEE;
  font-family: 'Press Start 2P';
}


.square-border {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 97%;
  height: 94%;
  border: 5px solid #79ffff;
  filter: drop-shadow(0 0 20px #79ffff);
}


.SLogo {
  width: 60%;
  height: auto;
  margin-top: 120px;
}


.jediText {
  font-family: 'Press Start 2P';
  font-size: 150%;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #79ffff;
  text-shadow: 0 0 20px #00FFEE;
  margin-top: -100px;
}


.boton {
  background-color: #79ffff;
}


.logo-container {
  position: absolute;  
  margin-top: 30px;
  margin-left: 10px;
  top: 10px;         
  left: 10px;   
  display: flex;
  align-items: center;   
}
 .logo {
  width: 100px;
  height: auto;
  margin-right: 10px;
  filter: drop-shadow(0 0 20px #79ffff);
}
 .logo-text {
  font-family: 'Press Start 2P', cursive;
  font-size: 30px;
  text-shadow: 0 0 20px #00FFEE;
  color: #79ffff;
  margin-left: -30px;
  margin-top: 12px;
}

.my-button {
  background-color: #79ffff;
  border: none;
  color: rgb(0, 0, 0);
  text-shadow: 0 0 -10px #79ffff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block; 
  font-size: 16px; 
  margin: 4px 2px;
  cursor: pointer; 
  transition: background-color 0.3s, box-shadow 0.3s; 
  font-family: 'Press Start 2P';
  margin-top: 50px;
  box-shadow: 0 0 20px #00FFEE;
}
 .my-button:hover {
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5); 
}

.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; 
  height: 400px; 
  filter: drop-shadow(0 0 10px #79ffff);
}

.square {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-placeholder {
  width: 250px; 
  height: 250px;
  border: 5px solid #79ffff;
  margin-bottom: -12px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.logo-placeholder img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}
 
.text-box {
  width: 250px;
  padding: 15px;
  background-color: #79ffff;
  text-align: center;
  margin-top: -20px;
  border-top: 0;
  font-family: 'Press Start 2P', cursive;
  font-size: 14px;
  text-shadow: 0 0 -10px #00FFEE;
  cursor: pointer;
}

.text-box:hover {
  background-color: #ffffff;
}

.subsections {
  color: black;
  display: block;
  padding: 15px;
  text-align: center;
  font-size: 14px;
}

.subsections:hover {
  color: yellow;
}