body {
    background-image: url('/Img/Background-img.png');
}

nav {
    background-color: #333;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    margin: 0;
    padding: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.characters-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.character-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00FFEE;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
    padding: 10px;
}

.character-card img {
    object-fit: contain;
    border-bottom: 1px solid #ddd;
    height: 250px;
    width: auto;
    background-color: black;
    padding: 2px;
}


.character-card h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.character-card p {
    margin: 10px 0;
    font-size: 1em;
    color: #555;
}

.navbar {
    background-color: #3e2723;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

body {
    padding-top: 70px;
}

.navbar .navbar-brand, 
.navbar .nav-link {
    color: #fff;
}

.navbar .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
}

.navbar form {
    margin-left: auto;
}

.navbar .btn-outline-success {
    color: white;
    border-color: #00FFEE;
}

.navbar .btn-outline-success:hover {
    background-color: #00FFEE;
    border-color: #00FFEE;
}

.modal-content {
    background-color: #333;
    color: white;
    border-radius: 10px;
    padding: 20px;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

.carousel-inner img {
    height: 400px;
    object-fit: cover;
}